@m20: 2.67vw;
@m15: 1.6vw;
@m3: 3.2vw;
@fcolor: #94928E;
.dpFeed {
  /* padding-top: 4.66vw; */
  display: block;
  .hots-article {
    height: 11.47vw;
    font-size: 16px;
    /* font-weight: bold; */
    padding: 0 @m15 * 2;
  }
  .feed-list{
    padding-bottom: 24vw;
  }
  .feed-list-cell {
    border-bottom: 1px solid #f5f5f5;
    padding: @m3 0;
    margin: 0 @m3;
    box-sizing: border-box;
    /*feed流*/
    .feed-box {
      position: relative;
      .hide-feed-over {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        z-index: 99;
      }
      .columnname {
        padding-top: @m3;
        box-sizing: border-box;
        color: @fcolor;
        > img {
          width: 18.93vw;
          height: @m15 * 4;
          border-radius: 0 5px 5px 0;
          margin-right: @m15 * 2;
        }
        .name {
          margin-right: 2vw;
        }
        .time {
          color: #808080;
          margin-left: @m20;
        }
      }
    }
  }
  .feed-list-cell:first-child{
    padding-top: 0; 
  }
  .feed-list-cell:last-child {
    border: 0;
  }
  .feedcover > img {
    width: 100%;
    height: 100%;
  }
  .feedtitle {
    font-size: 18px;
    line-height: 1.6;
    -webkit-line-clamp: 2;
    margin-top: @m20;
  }

  .feed-mode-1 {
    margin-top: 0;
    -webkit-line-clamp: 3;
    line-height: 1.5;
    font-size: 17px;
  }
  .feed-mode-1-image {
    width: 30.4vw;
    height: 20vw;
    span {
      width: 30.4vw;
      height: 20vw;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 5px;
    }
  }
  .feedtype {
    margin-right: @m3;
  }
  .feedtype .feedtitle {
    font-weight: bold;
  }

  .feed-left-width {
    width: calc(100vw - 8vw - 30.4vw);
    box-sizing: border-box;
    margin-right: @m3;
  }

  .feedimgcontent {
    flex-wrap: wrap;
    margin-top: @m20;
  }
  .feeder-img-list {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    .more-image {
      position: absolute;
      right: @m3;
      bottom: @m3;
      color: #fff;
      font-size: 14px;
      color: #fff;
    }
  }

  .feeder-img-list:nth-child(3n) {
    margin-right: 0 !important;
  }

  .feeder-img-list-cell-3 {
    width: 32.5%;
    height: 0;
    padding-bottom: 32.5%;
    margin-right: 0.83%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .feedtitle {
    text-align: justify;
  }
  .content p {
    margin-bottom: 0;
    line-height: 1.6;
  }
  .gif {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
  }
  .feedmain > video {
    width: 100%;
    height: 64vw;
    overflow: hidden;
    background: #333;
  }
  .cover_img_type {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 10px;
    color: #fff;
    padding: 0 6px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
  }
  .feeds-video {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .feeds-video-vertical {
    margin-left: @m3;
  }
  .duration {
    position: absolute;
    right: @m20;
    bottom: @m20;
    z-index: 99;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    height: 6.667vw;
    width: 21.33vw;
    box-sizing: border-box;
    font-size: 12px;
  }
}
@media screen and (min-width: 681px) {
  .dpFeed {
    display: none;
  }
}