@primary-color: #FDDB00;
@link-color: #FDDB00;
@link-hover-color: tint(@link-color, 20%);
@link-active-color: shade(@link-color, 5%);
@link-shadow-color: lighten(@link-color, 5%);
@selected-color: fade(@primary-color, 90%);

/*自定义文字文本颜色*/
.dp-text-color {
    color: @primary-color;
}
.dp-border-show {
    border: 1px solid @primary-color;
}