@text-color: #495060;
@primary-color: #FDDB00;
@link-color: #FDDB00;
@link-hover-color: tint(@link-color, 20%);
@link-active-color: shade(@link-color, 5%);
@link-shadow-color: lighten(@link-color, 5%);
@selected-color: fade(@primary-color, 90%);

@border-color-primary: #dddee1;

/*自定义文字文本颜色*/
.dp-text-color {
    color: @primary-color;
}
.dp-border-show {
    border: 1px solid @primary-color;
}
.button {
    background: @primary-color;
    height: 40px;
    line-height: 40px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    border: 0
}
.button-primary {
    vertical-align: bottom;
    display: inline-block;
    width: 100%;
    line-height: 1.5;
    padding: 4px 7px;
    font-size: 14px;
    border-radius: 4px;
    color: @text-color;
    background-image: none;
    position: relative;
    cursor: text;
    transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
}
.button-primary:focus{
    outline: 0;
    background: @link-active-color;
    border-color: @link-active-color;
    box-shadow: 0 0 0 1px @link-shadow-color;
}
.button-primary:hover {
    border-color: @selected-color;
    background: @link-hover-color;
}

.dpRadio {
    height: 36px;
    line-height: 36px;
}
.dp-radio {
    display: inline-block;
    margin-right: 4px;
    white-space: nowrap;
    position: relative;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
}
.dp-radio-inner, .dp-radio-inner:after {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.dp-radio-inner {
    display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid @border-color-primary;
    border-radius: 50%;
}
.dp-radio-inner:after {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 2px;
    top: 2px;
    border-radius: 6px;
    display: table;
    border-top: 0;
    border-left: 0;
    content: " ";
    background-color: @primary-color;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.dp-radio-input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
} 
.dp-radio-checked .dp-radio-inner {
    border-color: @primary-color;
}
.dp-radio-checked .dp-radio-inner:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}