.mint-button {
  border-radius: 3px;
  font-size: 16px;
}

.mint-button--primary {
  background-color: #FDDB00;
  color: #4B4945;
}

.mint-cell-wrapper {
  background-position: bottom left;
  padding: 0;
}

.mint-button--small {
  font-weight: bold;
  height: 30px;
  font-size: 14px;
}

.mint-toast {
  padding: 5px 10px !important;
}

.mint-field-core {
  font-size: 14px;
}

.tj-textarea .mint-cell-wrapper {
  background-size: 0;
}

.dpTextArea .mint-button--default {
  background: transparent;
  border: 0;
}

/* 播放器样式 */

#alttext-image {
  display: none;
}

video::-webkit-media-controls-panel {
  background: rgba(255, 255, 255, 0);
  width: calc(100% + 70px);
}

video::-webkit-media-controls-timeline {
  max-width: calc(100% - 230px);
}

audio::-webkit-media-controls-play-button,
video::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
video::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-fullscreen-button,
audio::-internal-media-controls-cast-button,
video::-internal-media-controls-cast-button,
audio::-internal-media-controls-download-button,
video::-internal-media-controls-download-button,
audio::-internal-media-controls-overflow-button,
video::-internal-media-controls-overflow-button,
video::-webkit-media-controls-toggle-closed-captions-button {
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
}

video::-webkit-media-controls-mute-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

video::-internal-media-controls-download-button {
  background-image: none !important;
}

video::-webkit-media-controls-volume-slider {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/*公用样式*/

.margin-bottom-40 {
  margin-bottom: .4rem;
}

.margin-top-20 {
  margin-top: .4rem
}

.text-align {
  text-align: center;
}

.icon-font {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.circle-btn {
  padding: 6px 15px 7px 15px;
  font-size: 14px;
  border-radius: 36px;
  height: 36px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
}

.tj-dialog {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.loading-complete {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: red;
  color: #000;
}

/* 超出隐藏？ */

/* .text-ellipse {
  position: relative;
  line-height: 1.6em;
  max-height: 8em;
  overflow: hidden;
}

.text-ellipse:after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 1px;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.3), white -4%);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), white -4%);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), white -4%);
  background: -webkit-linear-gradient( -45deg, rgba(255, 255, 255, 0.3), white -4%);
  box-shadow: -10px 0 0px 5px rgba(255, 255, 255, 0.3);
} */

.text-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
