.mint-button {
  border-radius: 3px;
  font-size: 16px;
}

.mint-button--primary {
  background-color: #FDDB00;
  color: #4B4945;
}

.mint-cell-wrapper {
  background-position: bottom left;
  padding: 0;
}

.mint-button--small {
  height: 30px;
  font-size: 14px;
}

.mint-toast {
  padding: 5px 10px !important;
}

.mint-field-core {
  font-size: 14px;
}

.tj-textarea .mint-cell-wrapper {
  background-size: 0;
}

.dpTextArea .mint-button--default {
  background: transparent;
  border: 0;
}

/* 播放器样式 */

#alttext-image {
  display: none;
}

video::-webkit-media-controls-panel {
  background: rgba(255, 255, 255, 0);
  width: calc(100% + 70px);
}

video::-webkit-media-controls-timeline {
  max-width: calc(100%);
}

audio::-webkit-media-controls-play-button,
video::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
video::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-fullscreen-button,
audio::-internal-media-controls-cast-button,
video::-internal-media-controls-cast-button,
audio::-internal-media-controls-download-button,
video::-internal-media-controls-download-button,
audio::-internal-media-controls-overflow-button,
video::-internal-media-controls-overflow-button,
video::-webkit-media-controls-toggle-closed-captions-button {
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
}

video::-webkit-media-controls-mute-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

video::-internal-media-controls-download-button {
  background-image: none !important;
}

video::-webkit-media-controls-volume-slider {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/*公用样式*/

.margin-bottom-40 {
  margin-bottom: 5.336vw;
}

.margin-top-20 {
  margin-top: 5.336vw;
}

.text-align {
  text-align: center;
}

.icon-font {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.circle-btn {
  padding: 6px 15px 7px 15px;
  font-size: 14px;
  border-radius: 36px;
  height: 36px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) */
}

.tj-dialog {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 111;
}

.loading-complete {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: red;
  color: #000;
}

.text-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/* 当图片有宽高时 */

/* 全局控制 富文本内图片样式

.summary {
  font-size: 17px;
  line-height: 1.54;
  letter-spacing: 0.5px;
}

.summary>p,
.summary>ol,
.summary>ul,
.summary>div:not(.imgbox),
.summary>section,
.summary>article,
.summary>aside {
  margin-bottom: 2.668vw;
}

.summary {
  padding: 0 4vw;
}

div.imgbox {
  position: relative;
}

div.imgbox>img,
div.imgbox>div.video-native-player,
div.imgbox>div.video-h5-player {
  position: absolute;
  width: 100vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


p:empty {
  margin: 0;
  padding: 0;
}

.summary img {
  height: auto;
  margin-bottom: 2.668vw;
}

.summary img {
  display: block;
}

.summary .imgbox {
  margin-bottom: 2.668vw;
}

.summary video {
  width: 100%;
}

.sumary iframe {
  width: 100% !important;
}

.split-box {
  width: 100%;
  height: 2.668vw;
  background: #f4f4f4;
}

.open-footer {
  text-align: center;
  position: fixed;
  bottom: 10.672vw;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.commonbox {
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.web-class {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 13.07vw);
}

.webNoNav.web-class {
  min-height: 100vh;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}

.lg-preview-img {
  z-index: 9999999;
  position: static !important;
  max-height: none !important;
}

.lg-preview-wrapper {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lg-preview-nav-left,
.lg-preview-nav-right {
  display: none !important;
}


#alttext-image {
  display: none;
}

video::-webkit-media-controls-panel {
  background: rgba(255, 255, 255, 0);
}

video::-webkit-media-controls-timeline {
  max-width: calc(100%);
}

audio::-webkit-media-controls-play-button,
video::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
video::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-fullscreen-button,
audio::-internal-media-controls-cast-button,
video::-internal-media-controls-cast-button,
audio::-internal-media-controls-download-button,
video::-internal-media-controls-download-button,
audio::-internal-media-controls-overflow-button,
video::-internal-media-controls-overflow-button,
video::-webkit-media-controls-toggle-closed-captions-button {
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
}

video::-webkit-media-controls-mute-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

video::-internal-media-controls-download-button {
  background-image: none !important;
}

video::-webkit-media-controls-volume-slider {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
} */
